/*

converting px to em to prevent if users change style size
1em == 16px browser's style size by default
600px/16px = 37.5em
800px/16px = 50em
900px/16px = 56.25em
1000px/16px = 62.5em
1200px/16px = 75em
1300px/16px = 81.25em
1800px/16px = 112.5em

$breakpoint argument choices:
- phone         600px
- phone-l       800px
- tab           900px
- tab-port      1000px
- tab-land      1300px
- big-desktop   1800px
*/
/* ********** COLORS THEME ********** 
#26A69A
#5EC3BC
#429AAD
#5CC2C6
#2D738C
********************************** */
/* to reset all browser default behavior */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* define font-size to 10px makes easier to adapt the size of the children of html documents */
html {
  font-size: 62.5%; }
  @media only screen and (max-width: 81.25em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem;
  background-image: linear-gradient(to right bottom, #2d738c, #32879b, #3c9ba8, #4aafb3, #5ec3bc);
  background-size: cover;
  background-repeat: no-repeat; }
  @media only screen and (max-width: 62.5em) {
    body {
      padding: 0;
      background-color: #faf9f9; } }

body {
  font-family: 'Lato';
  color: #777;
  line-height: 1.5;
  letter-spacing: 1px; }

.u-center-text {
  text-align: center !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem; }
  @media only screen and (max-width: 62.5em) {
    .search {
      order: 1;
      flex: 0 0 100%;
      background-color: #f0eeee;
      margin-right: 0; } }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: #f4f2f2;
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 80%;
    height: 3.5rem;
    transition: all .2s;
    margin-right: -3.25rem;
    caret-color: #999; }
    @media only screen and (max-width: 62.5em) {
      .search__input {
        padding: .9rem 4rem;
        background-color: #f0eeee;
        height: 5rem; } }
    .search__input:focus {
      outline: none;
      background-color: #f0eeee;
      width: 90%; }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: #ccc; }
  .search__input:focus + .search__btn {
    background-color: #f0eeee; }
  .search__btn {
    border: none;
    background-color: #f4f2f2;
    transition: all .2s; }
    @media only screen and (max-width: 62.5em) {
      .search__btn {
        background-color: #f0eeee; } }
    .search__btn:focus {
      outline: none; }
    .search__btn:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: #999; }

.card {
  background-image: linear-gradient(to right bottom, rgba(74, 175, 179, 0.8), transparent, rgba(255, 255, 255, 0.6));
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 56.25em) {
    .card {
      flex-wrap: wrap; } }
  .card > * {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.2rem;
    flex: 0 1 100%; }
  .card__col {
    display: flex;
    padding: 2rem;
    flex-direction: column; }
    @media only screen and (max-width: 56.25em) {
      .card__col {
        flex-direction: row;
        justify-content: center;
        align-items: center; } }
    @media only screen and (max-width: 50em) {
      .card__col {
        flex-direction: column; } }
    .card__col--1 > * {
      margin-bottom: 2rem;
      flex: 0 1 100%; }
      @media only screen and (max-width: 56.25em) {
        .card__col--1 > * {
          padding: 0 2rem;
          white-space: nowrap; } }
    @media only screen and (max-width: 56.25em) {
      .card__col--1 {
        align-items: baseline; } }
    @media only screen and (max-width: 50em) {
      .card__col--1 {
        align-items: center; } }
    .card__col--2 {
      align-content: center;
      justify-content: space-evenly;
      flex: 0 1 100%; }
    .card__col--3 {
      flex: 0 1 100%;
      justify-content: space-evenly; }
      .card__col--3 p:first-child {
        align-self: flex-end;
        margin-bottom: 2rem; }
        @media only screen and (max-width: 56.25em) {
          .card__col--3 p:first-child {
            align-self: center; } }
  .card__box {
    display: flex;
    flex-wrap: wrap;
    place-items: baseline;
    width: 100%; }
    .card__box--container {
      justify-content: space-evenly; }
    .card__box--data {
      margin-bottom: .5rem; }
      .card__box--data > * {
        padding-right: 1.5rem; }
      @media only screen and (max-width: 50em) {
        .card__box--data {
          justify-content: center; } }
  .card__heading {
    letter-spacing: 2px; }
    .card__heading--2 {
      font-size: 12rem;
      display: flex;
      align-items: center; }
      .card__heading--2::after {
        content: "\002103";
        display: inline-block;
        align-self: flex-start;
        margin-top: 3rem;
        font-size: 4rem; }
        @media only screen and (max-width: 37.5em) {
          .card__heading--2::after {
            font-size: 6rem; }
            .card__heading--2::after::after {
              font-size: 2rem; } }
    .card__heading--3 {
      font-size: 3.5rem; }
      @media only screen and (max-width: 37.5em) {
        .card__heading--3 {
          font-size: 2rem; } }
    .card__heading--4 {
      font-size: 3rem; }
      @media only screen and (max-width: 37.5em) {
        .card__heading--4 {
          font-size: 2rem; } }
  .card__text, .card__small__text {
    font-size: 1.9rem; }
    .card__text--icon, .card__small__text--icon {
      display: flex;
      align-items: center;
      font-size: 1.9rem;
      line-height: 2rem; }
    .card__text--unit::after, .card__small__text--unit::after {
      content: "\002103"; }
  .card__icon {
    width: 1.7rem;
    height: 1.7rem;
    fill: rgba(255, 255, 255, 0.8);
    margin-top: -3px; }
    .card__icon--principal {
      width: 25rem;
      height: 25rem; }
      @media only screen and (max-width: 37.5em) {
        .card__icon--principal {
          width: 20rem;
          height: 20rem; } }
  .card--s {
    background-image: linear-gradient(to left bottom, rgba(255, 255, 255, 0.6), rgba(74, 175, 179, 0.4), rgba(255, 255, 255, 0.3)); }
  .card__small {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 0 2rem 0; }
    @media only screen and (max-width: 56.25em) {
      .card__small {
        flex-direction: row; }
        .card__small > * {
          width: 33.3333333%;
          flex-shrink: 0;
          text-align: center; } }
    .card__small__text {
      padding: 2rem;
      font-weight: 700; }
    .card__small__icon {
      width: 3.5rem;
      height: 3.5rem;
      fill: currentColor; }

.footer {
  grid-column: full-start / full-end;
  font-size: 1.4rem;
  height: 7rem;
  padding: 8rem;
  background-color: #faf9f9;
  display: flex;
  align-items: center;
  justify-content: center; }
  .footer__text {
    color: #999;
    text-align: center; }

.header {
  grid-column: full-start / full-end;
  font-size: 1.4rem;
  height: 15rem;
  padding-top: 3rem;
  background-color: #faf9f9;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  @media only screen and (max-width: 81.25em) {
    .header {
      flex-wrap: wrap;
      align-content: space-around;
      justify-content: center;
      height: 25rem;
      padding-top: 2rem; } }
  .header__logo {
    height: 4rem;
    width: 4rem;
    margin: 0 0 0 2rem;
    margin-top: -.5rem;
    fill: #777; }
  .header h1 {
    margin: 0 2rem;
    text-align: center;
    white-space: nowrap; }
    @media only screen and (max-width: 37.5em) {
      .header h1 {
        white-space: initial; } }

.weather {
  grid-column: center-start / center-end;
  background-image: linear-gradient(to right bottom, #2d738c, #32879b, #3c9ba8, #4aafb3, #5ec3bc);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 7rem;
  border-radius: 3px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
  grid-gap: 7rem; }
  @media only screen and (max-width: 56.25em) {
    .weather {
      grid-column: full-start / full-end; } }
  @media only screen and (max-width: 37.5em) {
    .weather {
      padding: 4rem; } }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: #faf9f9;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: [full-start] minmax(6em, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6em, 1fr) [full-end];
  grid-template-rows: repeat(3, min-content);
  grid-row-gap: 2rem; }
  @media only screen and (max-width: 81.25em) {
    .container {
      margin: 0;
      max-width: 100%;
      width: 100%;
      min-height: 100vh; } }
  @media only screen and (max-width: 37.5em) {
    .container {
      grid-row-gap: 0; } }
