.header {

    grid-column: full-start / full-end;
    font-size: 1.4rem;
    height: 15rem;
    padding-top: 3rem;
    background-color: $color-grey-light-1;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    @include responsive(tab-land) {
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: center;
        height: 25rem;
        padding-top: 2rem;
    }

    &__logo {
        height: 4rem;
        width: 4rem;
        margin: 0 0 0 2rem;
        margin-top: -.5rem;
        fill: $color-grey-dark-2;
    }

    & h1 {
        margin: 0 2rem;
        text-align: center;
        white-space: nowrap;

        @include responsive(phone) {

            white-space: initial;
        }
    }

}