/* ********** COLORS THEME ********** 
#26A69A
#5EC3BC
#429AAD
#5CC2C6
#2D738C
********************************** */
$color-primary : #3c9ba8;
$color-primary-dark-1: #32879b;
$color-primary-dark-2: #2d738c;
$color-primary-light-1: #4aafb3;
$color-primary-light-2: #5ec3bc;

$color-white: #fff;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;


$shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
$shadow-light: 0 2rem 5rem rgba(0,0,0,.06);

$line: 1px solid $color-grey-light-2;
